    <div data-ng-controller="CustomersController">
        <div class="row">
            <div class="large-6 columns" id="add_new_customer">
                <h2>Add a new customer</h2>
                <label for="name">Customer Name:</label>
                <input type="text" name="name" id="name" data-ng-model="newCustomer.name">
                <button class="tiny" data-ng-click="addCustomer()">Add</button>
            </div>
        </div>
        <p data-ng-bind="errors"></p>
        <div id="existing_customers">
            <div class="row">
                <div class="large-6 columns">
                    <input type="text" placeholder="search name..." data-ng-model="filter.name">
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="customer in customers | filter:filter.name | orderBy:'+created_at'">
                        <td data-ng-bind="customer.name"></td>
                        <td data-ng-bind="customer.created_at | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td><button class="alert tiny" data-ng-click="removeCustomer($index)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
