    <div data-ng-controller="OrdersController">
        <div class="row">
            <div class="large-2 columns">
                <input type="text" placeholder="search..." data-ng-model="filter.name">
                <button class="tiny">Filter</button>
            </div>
            <div class="large-10 columns">
                <div class="row">
                    <div data-ng-repeat="product in products | filter: filter.name | limitTo: 4" class="large-3 columns">
                        <img ng-src="{{ product.image_url }}"/>
                        <p>{{ product.name }} ({{product.initial_quantity}})</p>
                    </div>
                    <a href="#/products">Show More</a>
                </div>
                <div class="row">
                    <h2>Recent Orders</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Date Ordered</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="order in orders | orderBy:'-date' | filter:filter.name | limitTo: 3">
                                <td data-ng-bind="order.customer_name"></td>
                                <td data-ng-bind="order.product_name"></td>
                                <td data-ng-bind="order.quantity"></td>
                                <td data-ng-bind="order.date | date:'yyyy-MM-dd HH:mm:ss'"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#/orders">Show All Orders</a>
                </div>
                <div class="row">
                    <h2>Recent Customers</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="customer in customers | orderBy:'-created_at' | filter:filter.name | limitTo: 3" >
                                <td data-ng-bind="customer.name"></td>
                                <td data-ng-bind="customer.created_at | date:'yyyy-MM-dd HH:mm:ss'"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#/customers">Show All Customers</a>
                </div>
            </div>
        </div>
    </div>
